* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

.grid_column1 {
  grid-column: 1/2; }

.grid_column2 {
  grid-column: 2/3; }

.grid-first-row {
  grid-row: 1; }

@media only screen and (max-width: 767px) {
  .carousel-inner {
    height: 90vh; }
    .carousel-inner .carousel-item img {
      width: 70%;
      margin: auto; }
  .carousel-control-prev, .carousel-control-next {
    top: 25vw;
    bottom: auto;
    opacity: 1; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel-inner {
    height: 120vh; }
    .carousel-inner .carousel-item img {
      width: 50%;
      margin: auto; }
  .carousel-control-prev, .carousel-control-next {
    top: 25vw;
    bottom: auto;
    opacity: 1; } }

@media only screen and (min-width: 1024px) {
  .carousel-inner {
    height: 180vh; }
    .carousel-inner .carousel-item img {
      width: 50%;
      margin: auto; }
  .carousel-control-prev, .carousel-control-next {
    top: 25vw;
    bottom: auto; } }

body {
  font-family: "Anybody", cursive; }

header {
  height: fit-content; }

.align-end {
  align-self: end; }

.dark_background {
  background-color: #252525; }
  .dark_background .logo {
    color: #fff; }

.menu_home {
  display: grid; }

a {
  text-decoration: none; }

.logo {
  animation: fadeInRight;
  animation-duration: 2s; }
  .logo span {
    font-size: auto;
    font-style: auto;
    font-weight: 900;
    text-transform: uppercase; }

.header_img {
  background-image: url(../assets/img/cocktail.jpg);
  background-size: cover;
  background-position: center;
  animation: aparecer;
  animation-duration: 1s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  10% {
    opacity: 1%; }
  80% {
    opacity: 50%; }
  100% {
    opacity: 100%; } }

.home_img {
  background-image: url(../assets/img/fede_cuco1.jpg);
  background-size: cover;
  background-position: center;
  animation: fadeInUpBig;
  animation-duration: 2s; }

#home_copy {
  text-transform: uppercase; }

.menu a {
  text-transform: uppercase;
  position: fixed;
  color: #fff;
  opacity: 50%;
  z-index: 100;
  font-size: auto;
  font-style: auto;
  font-weight: bold; }
  .menu a:hover {
    opacity: 100%;
    text-decoration: none; }

.dark_menu a {
  text-transform: uppercase;
  position: fixed;
  color: #000;
  opacity: 50%;
  z-index: 100; }
  .dark_menu a:hover {
    opacity: 100%; }

.options {
  opacity: 100%;
  list-style: none;
  text-align: left; }
  .options a {
    color: lightgray;
    font-weight: 400; }
    .options a:hover {
      color: #fff; }

section {
  height: 100vh; }

#about {
  height: max-content; }

.about_titulo {
  text-transform: uppercase;
  font-style: italic;
  color: #fff;
  position: absolute;
  z-index: 10; }

.about_img {
  background-image: url(../assets/img/fede_cuco.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat; }

#about_bio {
  position: absolute; }

p {
  color: lightgray; }

.redes {
  height: 100vh;
  background-color: #000;
  position: relative; }
  .redes h2 {
    position: absolute;
    color: #fff;
    font-style: italic;
    text-transform: uppercase; }
  .redes div {
    position: absolute; }
  .redes a {
    color: lightgray;
    text-transform: uppercase;
    display: block; }
    .redes a:hover {
      text-decoration: line-through; }

#verne_titulo {
  text-transform: uppercase; }

.verne_img {
  background-image: url(../assets/img/verne_club.jpg);
  background-size: cover;
  background-position: center; }

.verne_sect {
  height: max-content;
  display: flex;
  flex-direction: column; }
  .verne_sect p {
    color: #000; }
  .verne_sect a {
    text-decoration: none;
    color: #000; }
    .verne_sect a:hover {
      color: lightgray; }

#verne_address {
  text-align: center; }
  #verne_address p {
    color: #000; }

iframe {
  max-width: 100%;
  height: 60vh;
  position: relative; }

.cocteles_titulo {
  text-transform: uppercase;
  color: #000;
  text-align: center;
  z-index: 10; }

.content_centered {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .content_centered div {
    vertical-align: middle; }
    .content_centered div i {
      display: inline-block;
      margin: 0; }
      .content_centered div i:hover {
        color: #000; }
  .content_centered h2 {
    text-transform: uppercase; }
  .content_centered h3 {
    text-transform: uppercase; }

.img_gallery {
  display: inline-block;
  background-image: url(../assets/img/opium_fashioned.jpg);
  text-align: center;
  background-size: cover;
  background-position: center; }

.absolut_block, #img_gallery_count, #cocteles_copy, #ingredients {
  display: block;
  text-align: left;
  position: absolute; }

#cocteles_copy {
  text-transform: uppercase; }

#ingredients {
  list-style: none; }

footer {
  background-color: #252525;
  text-align: center; }
  footer a {
    text-decoration: none;
    color: lightgray; }
    footer a:hover {
      color: #fff; }
      footer a:hover i {
        color: #fff; }

i {
  color: lightgray; }

#libro_img {
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/img/bartender-de-entrecasa.jpg); }

#curso_img {
  display: inline-block;
  background-size: cover;
  background-image: url(../assets/img/cocteleria_en_casa.jpg); }

@media only screen and (max-width: 767px) {
  .home {
    display: grid;
    grid-template-columns: 50% 50%; }
    .home header {
      grid-column: 1/2; }
  .logo {
    margin: 5rem 0 0 5vw;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #000;
    width: 95px;
    height: 25%; }
    .logo h1 {
      font-size: 2rem;
      font-style: auto;
      font-weight: 400; }
  .header_img {
    height: 50vh;
    width: 45vw;
    grid-column: 2/3;
    justify-self: end; }
  .home_img {
    width: 45vw;
    height: 50vh;
    position: absolute;
    left: 5vw;
    top: 40vh; }
  #home_copy {
    grid-column: 1/3;
    justify-self: center;
    font-size: 1rem;
    font-style: auto;
    font-weight: 400;
    width: 60vw;
    margin-top: 35vh;
    border-top: 2px solid #000;
    padding-top: 40px;
    z-index: 200; }
  .menu a {
    top: 5rem;
    right: 10vw;
    font-size: 1rem;
    opacity: 100%; }
  .dark_background .logo {
    font-size: 2rem;
    margin: 5rem 0 0 5vw;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #fff;
    width: calc(100vw - 5vw);
    height: 25%; }
  .menu_home {
    grid-template-columns: 100%; }
  .dark_menu a {
    top: 8rem;
    right: 5rem;
    font-size: 1.5rem; }
  .options {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 5vh 0 0 5vw; }
  .about_titulo {
    font-size: 3rem;
    font-style: auto;
    font-weight: 200;
    line-height: 4rem;
    margin-top: 8vh;
    margin-left: 5vw; }
    .about_titulo h1 {
      font-size: 1.5em;
      font-style: auto;
      font-weight: bold; }
  .about_img {
    width: 80%;
    height: calc(100vh - 12vh);
    top: 12vh;
    right: 0; }
  #about_bio {
    top: 100vh;
    left: 5vw;
    width: 90%; }
    #about_bio div {
      margin-top: 5vh; }
  p {
    font-size: 0.8rem;
    line-height: 1rem; }
  .redes h2 {
    font-size: 40px;
    font-style: auto;
    font-weight: 100;
    margin-left: 3rem;
    margin-top: 8rem; }
  .redes div {
    margin-left: 3rem;
    margin-top: 45vh; }
  .redes a {
    font-size: 30px;
    font-style: auto;
    font-weight: 200; }
  .verne {
    grid-template-columns: 100%; }
    .verne header {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 30vh; }
    .verne .menu a {
      color: #000; }
  #verne_titulo {
    font-size: 2rem; }
  .verne_img {
    height: 30vh;
    width: 100%;
    margin: 5vh 0 5vh 0; }
  .verne_sect article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.5rem;
    margin-top: 10px; }
  .verne_sect p {
    font-size: 0.6rem;
    line-height: normal;
    font-weight: 200;
    width: fit-content;
    text-align: center;
    margin-bottom: 1vh; }
  .verne_sect a {
    font-weight: 600;
    font-size: 0.8rem; }
  #verne_address {
    width: 100%;
    display: flex;
    flex-direction: column; }
    #verne_address p {
      line-height: normal;
      font-weight: 200;
      font-size: 0.5rem; }
  footer span {
    display: none; }
  .cocteles {
    grid-template-columns: 100%; }
    .cocteles header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30vh;
      width: 100%; }
    .cocteles .menu a {
      color: #000; }
    .cocteles main {
      margin-top: 8vh; }
  .cocteles_titulo {
    font-size: 3rem;
    font-style: auto;
    font-weight: 400;
    letter-spacing: 0.5rem;
    line-height: 9rem;
    margin-top: 8rem; }
  .content_centered div i {
    font-size: 1.5rem;
    color: #000; }
  .content_centered section {
    margin-top: 200px; }
    .content_centered section article {
      margin-bottom: 150px; }
  .content_centered h2 {
    font-weight: 200;
    margin-bottom: 5px; }
  .content_centered h3 {
    margin-bottom: 5px; }
  .img_gallery {
    width: 40vh;
    height: 40vh;
    margin: 0 2% 0 2%; }
  #img_gallery_count {
    margin-top: 4rem;
    color: #000; }
  #cocteles_copy {
    font-size: 2rem;
    font-weight: 400;
    width: 65vw;
    margin-top: 6rem;
    color: #000; }
  #ingredients {
    font-size: 1rem;
    margin-top: 10rem;
    padding-bottom: 2rem;
    color: #000; }
  footer {
    height: 5vh;
    width: 100%;
    bottom: 0;
    padding-top: 3vh; }
  i {
    margin: 0 0.5% 0 1%; }
  .librosycursos {
    grid-template-columns: 100%; }
    .librosycursos .menu a {
      color: #000; }
    .librosycursos .content_centered section {
      margin-top: 120px; }
      .librosycursos .content_centered section article {
        margin-bottom: 50px; }
  #libro_img {
    height: 60vh;
    width: 100%; }
  #curso_img {
    height: 60vh;
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .home {
    display: grid;
    grid-template-columns: 50% 50%; }
  .home header {
    grid-column: 1/2; }
  .logo {
    font-size: 6rem;
    margin: 3rem 0 0 3rem;
    padding: 1rem;
    border-bottom: 3px solid #000;
    width: max-content; }
    .logo h1 {
      font-size: 6rem;
      font-style: auto;
      font-weight: 400; }
  .header_img {
    height: 100vh;
    width: 45vw;
    grid-column: 2/3;
    justify-self: end; }
  .home_img {
    width: 45vw;
    height: 100vh;
    position: absolute;
    left: 5vw;
    top: 80vh; }
  #home_copy {
    grid-column: 1/3;
    justify-self: center;
    font-size: 2rem;
    font-weight: 400;
    width: 40vw;
    margin-top: 85vh;
    border-top: 3px solid #000;
    padding-top: 40px; }
  .menu a {
    top: 8rem;
    right: 10vw;
    font-size: 1.5rem;
    opacity: 100%; }
  .dark_background .logo {
    border-bottom: 3px solid #fff;
    width: calc(100vw - 5rem); }
  .dark_menu a {
    top: 8rem;
    right: 5rem;
    font-size: 1.5rem; }
  .options {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 5vh 0 0 5vw; }
  .about_titulo {
    font-size: 5rem;
    font-style: auto;
    font-weight: 200;
    line-height: 6rem;
    margin-top: 15vh;
    margin-left: 5vw; }
    .about_titulo h1 {
      font-size: 1.5em;
      font-style: auto;
      font-weight: bold; }
  .about_img {
    width: 65%;
    height: 130vh;
    top: 12vh;
    right: 0; }
  #about_bio {
    top: 150vh;
    left: 5vw;
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 6vw; }
    #about_bio .grid_column2 {
      margin-top: 35vh; }
  p {
    font-size: 1rem;
    line-height: 2rem; }
  .redes h2 {
    font-size: 60px;
    font-style: auto;
    font-weight: 100;
    margin-left: 4rem;
    margin-top: 10rem; }
  .redes div {
    margin-left: 4rem;
    margin-top: 60vh; }
  .redes a {
    font-size: 50px;
    font-style: auto;
    font-weight: 200; }
  .verne header {
    height: 17vh; }
  .verne main {
    grid-column: 1/3; }
  #verne_titulo {
    font-size: 2rem;
    margin: 3rem 0 0 3rem; }
  .verne_img {
    height: 75vh;
    right: 0;
    bottom: 8vh; }
  .verne_sect {
    display: grid;
    grid-template-columns: 50% 50%; }
    .verne_sect p {
      margin-left: 3rem;
      line-height: 1.2;
      font-weight: 200;
      font-size: 10px; }
    .verne_sect article {
      grid-column: 1/2; }
    .verne_sect a {
      font-weight: 600;
      font-size: 0.8rem; }
  #verne_links {
    margin-top: 2rem;
    margin-left: 3rem; }
  #verne_address {
    width: 90%; }
    #verne_address p {
      line-height: normal;
      font-weight: 200;
      margin: 1.3rem 0 0 0;
      font-size: 10px; }
  .cocteles {
    grid-template-columns: 100%; }
    .cocteles header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%; }
    .cocteles .menu a {
      color: #000; }
    .cocteles main {
      margin-top: 7vh; }
  .cocteles_titulo {
    font-size: 5rem;
    font-style: auto;
    font-weight: 400;
    letter-spacing: 3rem;
    line-height: 9rem;
    margin-left: 2rem;
    overflow: hidden; }
  .content_centered div i {
    font-size: 2rem;
    color: #000; }
  .content_centered section {
    margin-top: 200px; }
    .content_centered section article {
      margin-bottom: 150px; }
  .content_centered h2 {
    font-weight: 200;
    margin-bottom: 5px; }
  .content_centered h3 {
    margin-bottom: 5px; }
  .img_gallery {
    width: 60vh;
    height: 60vh;
    margin: 0 2% 0 2%; }
  #img_gallery_count {
    margin-top: 4rem;
    color: #000; }
  #cocteles_copy {
    font-size: 2rem;
    font-weight: 400;
    width: 30vw;
    left: 5vw;
    margin-top: 4rem;
    color: #000; }
  #ingredients {
    font-size: 1rem;
    left: 25vw;
    margin-top: 10rem;
    padding-bottom: 2rem;
    color: #000; }
  footer {
    height: 5vh;
    padding-top: 3vh;
    grid-column: 1/3;
    font-size: 14px; }
  i {
    margin: 0 0.5% 0 1%; }
  .librosycursos {
    grid-template-columns: 100%; }
    .librosycursos .menu a {
      color: #000; }
    .librosycursos .content_centered section {
      margin-top: 120px; }
      .librosycursos .content_centered section article {
        margin-bottom: 50px; }
  #verne_address iframe {
    height: 50vh; }
  #libro_img {
    height: 60vh;
    width: 560px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: whitesmoke; }
  #curso_img {
    height: 60vh;
    width: 560px; } }

@media only screen and (min-width: 1024px) {
  .home {
    display: grid;
    grid-template-columns: 50% 50%; }
  .home header {
    grid-column: 1/2; }
  .logo {
    font-size: 7rem;
    margin: 3rem 0 0 3rem;
    padding: 1rem;
    border-bottom: 3px solid #000;
    width: max-content; }
    .logo h1 {
      font-size: 7rem;
      font-style: auto;
      font-weight: 400; }
  .header_img {
    height: 100vh;
    width: 45vw;
    grid-column: 2/3;
    justify-self: end; }
  .home_img {
    width: 45vw;
    height: 100vh;
    position: absolute;
    left: 5vw;
    top: 80vh; }
  #home_copy {
    grid-column: 1/3;
    justify-self: center;
    font-size: 3rem;
    font-weight: 400;
    width: 40vw;
    margin-top: 85vh;
    border-top: 3px solid #000;
    padding-top: 40px; }
  .menu a {
    top: 8rem;
    right: 10vw;
    font-size: 1.5rem; }
  .dark_background .logo {
    border-bottom: 3px solid #fff;
    width: calc(100vw - 5rem); }
  .dark_menu a {
    top: 8rem;
    right: 5rem;
    font-size: 1.5rem; }
  .options {
    position: absolute;
    top: 6rem;
    left: 40vw;
    display: flex;
    flex-direction: column;
    font-size: 2rem; }
  .about_titulo {
    font-size: 6rem;
    font-style: auto;
    font-weight: 200;
    line-height: 8rem;
    margin-top: 11rem;
    margin-left: 10rem; }
    .about_titulo h1 {
      font-size: 1.5em;
      font-style: auto;
      font-weight: bold; }
  .about_img {
    width: 65%;
    height: 125vh;
    top: 16rem;
    right: 0; }
  #about_bio {
    top: 180vh;
    left: 20vw;
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5vw; }
    #about_bio .grid_column2 {
      margin-top: 35vh; }
  p {
    font-size: 1rem;
    line-height: 2rem; }
  .redes h2 {
    font-size: 90px;
    font-style: auto;
    font-weight: 100;
    margin-left: 10rem;
    margin-top: 12rem; }
  .redes div {
    margin-left: 10rem;
    margin-top: 70vh; }
  .redes a {
    font-size: 70px;
    font-style: auto;
    font-weight: 200; }
  .verne header {
    height: 17vh; }
  .verne main {
    grid-column: 1/3; }
  #verne_titulo {
    font-size: 3rem;
    margin: 3rem 0 0 3rem; }
  .verne_img {
    height: 75vh;
    right: 0;
    bottom: 8vh; }
  .verne_sect {
    display: grid;
    grid-template-columns: 50% 50%; }
    .verne_sect p {
      margin-left: 3rem;
      line-height: 1.2;
      font-weight: 200;
      font-size: 12px; }
    .verne_sect article {
      grid-column: 1/2; }
    .verne_sect a {
      font-weight: 600;
      font-size: 1rem; }
  #verne_links {
    margin-top: 2rem;
    margin-left: 3rem; }
  #verne_address {
    width: 90%; }
    #verne_address p {
      line-height: normal;
      font-weight: 200;
      margin: 1.3rem 0 0 0;
      font-size: 12px; }
    #verne_address iframe {
      height: 50vh; }
  .cocteles {
    grid-template-columns: 100%; }
    .cocteles header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%; }
    .cocteles .menu a {
      color: #000; }
    .cocteles main {
      margin-top: 7vh; }
  .cocteles_titulo {
    font-size: 6rem;
    font-style: auto;
    font-weight: 400;
    letter-spacing: 4rem;
    line-height: 9rem;
    margin-left: 2rem;
    overflow: hidden; }
  .content_centered div i {
    font-size: 3rem; }
  .content_centered section {
    margin-top: 200px; }
    .content_centered section article {
      margin-bottom: 150px; }
  .content_centered h2 {
    font-weight: 200;
    margin-bottom: 5px; }
  .content_centered h3 {
    margin-bottom: 5px; }
  .img_gallery {
    width: 60vh;
    height: 60vh;
    margin: 0 2% 0 2%; }
  #img_gallery_count {
    margin-top: 5rem;
    color: #000;
    font-size: 2rem; }
  #cocteles_copy {
    font-size: 4rem;
    font-style: auto;
    font-weight: 400;
    width: 30vw;
    left: 10vw;
    margin-top: 5rem;
    color: #000; }
  #ingredients {
    font-size: 2rem;
    font-style: auto;
    font-weight: 400;
    left: 30vw;
    margin-top: 15rem;
    padding-bottom: 2rem;
    color: #000; }
  footer {
    height: 5vh;
    padding-top: 3vh;
    grid-column: 1/3;
    font-size: 14px; }
  i {
    margin: 0 0.5% 0 1%; }
  .librosycursos {
    grid-template-columns: 100%; }
    .librosycursos .menu a {
      color: #000; }
    .librosycursos .content_centered section article {
      margin-bottom: 50px; }
  #libro_img {
    height: 60vh;
    width: 560px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: whitesmoke; }
  #curso_img {
    height: 60vh;
    width: 560px; } }
