* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@import "colors";
@import "grids";
@import "typography";

body {
    font-family: $mainfont;
}

header {
    height: fit-content;
}

.align-end {
    align-self: end;
}

.dark_background {
    background-color: map-get($colors, dark);
    .logo {
        color: map-get($colors, primary);
    }
}

.menu_home {
    display: grid;
}

a {
    text-decoration: none;
}

.logo {
    animation: fadeInRight;
    animation-duration: 2s;

    span {
        @include font_styles(auto,auto,900);
        text-transform: uppercase;
    }
}

.header_img {
    background-image: url(../assets/img/cocktail.jpg);
    background-size: cover;
    background-position: center;
    animation: aparecer;
    animation-duration: 1s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1%;
    }

    80% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}

.home_img {
    background-image: url(../assets/img/fede_cuco1.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeInUpBig;
    animation-duration: 2s;
}

#home_copy {
    text-transform: uppercase;
}

.menu {
    a {
    text-transform: uppercase;
    position: fixed;
    color: map-get($colors, primary);
    opacity: 50%;
    z-index: 100;
    @include font_styles (auto,auto,bold);
        &:hover{
            opacity: 100%;
        }
    }
}

.dark_menu {
    a {
        text-transform: uppercase;
        position: fixed;
        color: map-get($colors, secondary);
        opacity: 50%;
        z-index: 100;

        &:hover {
            opacity: 100%;
        }
    }
}

.options {
    opacity: 100%;
    list-style: none;
    text-align: left;
    a {
        color: map-get($colors, light);
        font-weight: 400;
        &:hover{
            color: map-get($colors, primary);
        }
    }
    }

section {
    height: 100vh;
}

#about {
    height: max-content;
}

.about_titulo {
    text-transform: uppercase;
    font-style: italic;
    color: map-get($colors, primary);
    position: absolute;
    z-index: 10;
}

.about_img {
    background-image: url(../assets/img/fede_cuco.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
}

#about_bio {
    position: absolute;
}

p {
    color: map-get($colors, light);
}

.redes {
    height: 100vh;
    background-color: map-get($colors, secondary);
    position: relative;
    h2 {
        position: absolute;
        color: map-get($colors, primary);
        font-style: italic;
        text-transform: uppercase;
    }
    div {
        position: absolute;
    }
    a {
        color: map-get($colors, light);
        text-transform: uppercase;
        display: block;
        &:hover {
            text-decoration: line-through;
        }
    }
}

#verne_titulo {
    text-transform: uppercase;
}

.verne_img {
    background-image: url(../assets/img/verne_club.jpg);
    background-size: cover;
    background-position: center;
}

.verne_sect {
    height: max-content;
    display: flex;
    flex-direction: column;
    p {
        color: map-get($colors, secondary);
    }
    a {
        text-decoration: none;
        color: map-get($colors, secondary);
        &:hover {
            color: map-get($colors, light);
        }
    }
}

#verne_address {
    text-align: center;
    p {
        color: map-get($colors, secondary);
    }
}

iframe {
    max-width: 100%;
    height: 60vh;
    position: relative;
}

.cocteles_titulo {
    text-transform: uppercase;
    color: map-get($colors, secondary);
    text-align: center;
    z-index: 10;
}

.content_centered {
    display: inline-block;
    width: 100%;
    text-align: center;
    div {
        vertical-align: middle;
        i {
            display: inline-block;
            margin: 0;
            &:hover {
                color: map-get($colors, secondary);
            }
        }
    }
    h2 {
        text-transform: uppercase;
    }
    h3 {
        text-transform: uppercase;
    }
}

.img_gallery {
    display: inline-block;
    background-image: url(../assets/img/opium_fashioned.jpg);
    text-align: center;
    background-size: cover;
    background-position: center;
}

.absolut_block{
    display: block;
    text-align: left;
    position: absolute;
}

#img_gallery_count {
    @extend .absolut_block;
}

#cocteles_copy {
    @extend .absolut_block;
    text-transform: uppercase;
}

#ingredients {
    @extend .absolut_block;
    list-style: none;
}

footer {
    background-color: map-get($colors, dark);
    text-align: center;
    a {
        text-decoration: none;
        color: map-get($colors, light);
        &:hover {
            color: map-get($colors, primary);
            i {
                color: map-get($colors, primary);
            }
        }
    }
}

i {
    color: map-get($colors, light);
}

#libro_img {
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/bartender-de-entrecasa.jpg);
}

#curso_img {
    display: inline-block;
    background-size: cover;
    background-image: url(../assets/img/cocteleria_en_casa.jpg);
}

@media only screen and (max-width:767px) {
    .home {
        display: grid;
        grid-template-columns: 50% 50%;
        header {
            grid-column: 1/2;
        }
    }

    .logo {
        margin: 5rem 0 0 5vw;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid map-get($colors, secondary);
        width: 95px;
        height: 25%;
        h1 {
            @include font_styles (2rem,auto,400);
        }
    }

    .header_img {
        height: 50vh;
        width: 45vw;
        grid-column: 2/3;
        justify-self: end;
    }

    .home_img {
        width: 45vw;
        height: 50vh;
        position: absolute;
        left: 5vw;
        top: 40vh;
    }

    #home_copy {
        grid-column: 1/3;
        justify-self: center;
        @include font_styles (1rem,auto,400);
        width: 60vw;
        margin-top: 35vh;
        border-top: 2px solid map-get($colors, secondary);
        padding-top: 40px;
        z-index: 200;
    }

    .menu {
        a {
            top: 5rem;
            right: 10vw;
            font-size: 1rem;
            opacity: 100%;
        }
    }

    .dark_background {
        .logo {
            font-size: 2rem;
            margin: 5rem 0 0 5vw;
            padding-bottom: 0.5rem;
            border-bottom: 2px solid map-get($colors, primary);
            width: calc(100vw - 5vw);
            height: 25%;
        }
    }

    .menu_home {
        grid-template-columns: 100%;
    }

    .dark_menu {
        a {
            top: 8rem;
            right: 5rem;
            font-size: 1.5rem;
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin: 5vh 0 0 5vw;
    }

    .about_titulo {
        @include font_styles(3rem,auto,200);
        line-height: 4rem;
        margin-top: 8vh;
        margin-left: 5vw;
        h1 {
            @include font_styles (1.5em,auto,bold);
        }
    }

    .about_img {
        width: 80%;
        height: calc(100vh - 12vh);
        top: 12vh;
        right: 0;
    }

    #about_bio {
        top: 100vh;
        left: 5vw;
        width: 90%;
        div{
            margin-top: 5vh;
        }
    }

    p {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .redes {
        h2 {
        @include font_styles (40px,auto,100);
        margin-left: 3rem;
        margin-top: 8rem;
        }
        div {
            margin-left: 3rem;
            margin-top: 45vh;
        }
        a {
            @include font_styles(30px,auto,200);
        }
    }

    .verne {
        grid-template-columns: 100%;
        header {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 30vh;
        }
        .menu{
            a {
            color: map-get($colors, secondary);
            }
        }
    }

    #verne_titulo {
        font-size: 2rem;
    }

    .verne_img {
        height: 30vh;
        width: 100%;
        margin: 5vh 0 5vh 0;
    }

    .verne_sect {
        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 0.5rem;
            margin-top: 10px;
        }
        p {
            font-size: 0.6rem;
            line-height: normal;
            font-weight: 200;
            width: fit-content;
            text-align: center;
            margin-bottom: 1vh;
        }
        a {
            font-weight: 600;
            font-size: 0.8rem;
        }
    }

    #verne_address {
        width: 100%;
        display: flex;
        flex-direction: column;
        p {
            line-height: normal;
            font-weight: 200;
            font-size: 0.5rem;
        }
    }

    footer span {
        display: none;
    }

    .cocteles {
        grid-template-columns: 100%;
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30vh;
            width: 100%;
        }
        .menu{
            a {
            color: map-get($colors, secondary);
            }
        }
        main {
            margin-top: 7vh;
        }
    }

    .cocteles_titulo {
        @include font_styles(3rem,auto,400);
        letter-spacing: 0.5rem;
        line-height: 9rem;
        margin-top: 8rem;
    }

    .content_centered {
        div { 
            i {
                font-size: 2rem;
            }
        }
        section {
            margin-top: 200px;
            article {
                margin-bottom: 150px;
            }
        }
        h2 {
            font-weight: 200;
            margin-bottom: 5px;
        }
        h3 {
            margin-bottom: 5px;
        }
    }

    .img_gallery {
        width: 40vh;
        height: 40vh;
        margin: 0 2% 0 2%;
    }

    #img_gallery_count {
        left: 20vw;
        margin-top: 2rem;
    }

    #cocteles_copy {
        font-size: 2rem;
        font-weight: 400;
        width: 30vw;
        left: 20vw;
        margin-top: 4rem;
    }

    #ingredients {
        font-size: 1rem;
        left: 20vw;
        margin-top: 10rem;
        padding-bottom: 2rem;
    }

    footer {
        height: 5vh;
        width: 100%;
        bottom: 0;
        padding-top: 3vh;
    }

    i {
        margin: 0 0.5% 0 1%;
    }

    .librosycursos {
        grid-template-columns: 100%;
        .menu{
            a {
            color: map-get($colors, secondary);
            }
        }
        .content_centered{
            section{
                margin-top: 120px;
                article{
                    margin-bottom: 50px;
                }
            }
        }
    }

    #libro_img {
        height: 60vh;
        width: 100%;
    }

    #curso_img {
        height: 60vh;
        width: 100%;
    }

}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .home {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .home header {
        grid-column: 1/2;
    }

    .logo {
        font-size: 6rem;
        margin: 3rem 0 0 3rem;
        padding: 1rem;
        border-bottom: 3px solid map-get($colors, secondary);
        width: max-content;
        h1 {
            @include font_styles (6rem,auto,400);
        }
    }

    .header_img {
        height: 100vh;
        width: 45vw;
        grid-column: 2/3;
        justify-self: end;
    }

    .home_img {
        width: 45vw;
        height: 100vh;
        position: absolute;
        left: 5vw;
        top: 80vh;
    }

    #home_copy {
        grid-column: 1/3;
        justify-self: center;
        font-size: 2rem;
        font-weight: 400;
        width: 40vw;
        margin-top: 85vh;
        border-top: 3px solid map-get($colors, secondary);
        padding-top: 40px;
    }

    .menu {
        a {
        top: 8rem;
        right: 10vw;
        font-size: 1.5rem;
        opacity: 100%;
        }
    }

    .dark_background {
        .logo {
        border-bottom: 3px solid map-get($colors, primary);
        width: calc(100vw - 5rem);
        }
    }

    .dark_menu {
        a {
        top: 8rem;
        right: 5rem;
        font-size: 1.5rem;
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        margin: 5vh 0 0 5vw;
    }

    .about_titulo {
        @include font_styles(5rem,auto,200);
        line-height: 6rem;
        margin-top: 15vh;
        margin-left: 5vw;
        h1 {
            @include font_styles (1.5em,auto,bold);
        }
    }

    .about_img {
        width: 65%;
        height: 130vh;
        top: 12vh;
        right: 0;
    }

    #about_bio {
        top: 150vh;
        left: 5vw;
        width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 6vw;
        .grid_column2{
            margin-top: 35vh;
        }
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
    }

    .redes {
        h2 {
        @include font_styles (60px,auto,100);
        margin-left: 4rem;
        margin-top: 10rem;
        }
        div {
            margin-left: 4rem;
            margin-top: 60vh;
        }
        a {
            @include font_styles(50px,auto,200);
        }
    }

    .verne {
        header {
            height: 17vh;
        }
        main {
            grid-column: 1/3;
        }    
    }

    #verne_titulo {
        font-size: 2rem;
        margin: 3rem 0 0 3rem;
    }

    .verne_img {
        height: 75vh;
        right: 0;
        bottom: 8vh;
    }

    .verne_sect {
        display: grid;
        grid-template-columns: 50% 50%;
        p {
            margin-left: 3rem;
            line-height: 1.2;
            font-weight: 200;
            font-size: 10px;
        }
        article {
            grid-column: 1/2;
        }
        a {
            font-weight: 600;
            font-size: 0.8rem;
        }
    }

    #verne_links {
        margin-top: 2rem;
        margin-left: 3rem;
    }

    #verne_address {
        width: 90%;
        p {
            line-height: normal;
            font-weight: 200;
            margin: 1.3rem 0 0 0;
            font-size: 10px;
        }
    }

    .cocteles {
        grid-template-columns: 100%;
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
        }
        .menu{
            a {
            color: map-get($colors, secondary);
            }
        }
        main {
            margin-top: 7vh;
        }
    }

    .cocteles_titulo {
        @include font_styles(5rem,auto,400);
        letter-spacing: 3rem;
        line-height: 9rem;
        margin-left: 2rem;
        overflow: hidden;
    }

    .content_centered {
        div { 
            i {
                font-size: 2rem;
            }
        }
        section {
            margin-top: 200px;
            article {
                margin-bottom: 150px;
            }
        }
        h2 {
            font-weight: 200;
            margin-bottom: 5px;
        }
        h3 {
            margin-bottom: 5px;
        }
    }

    .img_gallery {
        width: 60vh;
        height: 60vh;
        margin: 0 2% 0 2%;
    }

    #img_gallery_count {
        left: 20vw;
        margin-top: 2rem;
    }

    #cocteles_copy {
        font-size: 2rem;
        font-weight: 400;
        width: 30vw;
        left: 20vw;
        margin-top: 4rem;
    }

    #ingredients {
        font-size: 1rem;
        left: 20vw;
        margin-top: 10rem;
        padding-bottom: 2rem;
    }

    footer {
        height: 5vh;
        padding-top: 3vh;
        grid-column: 1/3;
        font-size: 14px;
    }

    i {
        margin: 0 0.5% 0 1%;
    }

    .librosycursos {
        grid-template-columns: 100%;
        .menu{
            a {
            color: map-get($colors, secondary);
            }
        }
        .content_centered{
            section{
                margin-top: 120px;
                article{
                    margin-bottom: 50px;
                }
            }
        }
    }

    #verne_address iframe {
        height: 50vh;
    }

    #libro_img {
        height: 60vh;
        width: 560px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: whitesmoke;
    }

    #curso_img {
        height: 60vh;
        width: 560px;
    }

}

@media only screen and (min-width:1024px) {
    .home {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .home header {
        grid-column: 1/2;
    }

    .logo {
        font-size: 7rem;
        margin: 3rem 0 0 3rem;
        padding: 1rem;
        border-bottom: 3px solid map-get($colors, secondary);
        width: max-content;
        h1 {
            @include font_styles (7rem,auto,400);
        }
    }

    .header_img {
        height: 100vh;
        width: 45vw;
        grid-column: 2/3;
        justify-self: end;
    }

    .home_img {
        width: 45vw;
        height: 100vh;
        position: absolute;
        left: 5vw;
        top: 80vh;
    }

    #home_copy {
        grid-column: 1/3;
        justify-self: center;
        font-size: 3rem;
        font-weight: 400;
        width: 40vw;
        margin-top: 85vh;
        border-top: 3px solid map-get($colors, secondary);
        padding-top: 40px;
    }

    .menu {
        a {
        top: 8rem;
        right: 10vw;
        font-size: 1.5rem;
        }
    }

    .dark_background {
        .logo {
        border-bottom: 3px solid map-get($colors, primary);
        width: calc(100vw - 5rem);
        }
    }

    .dark_menu {
        a {
        top: 8rem;
        right: 5rem;
        font-size: 1.5rem;
        }
    }

    .options {
        position: absolute;
        top: 6rem;
        left: 40vw;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
    }

    .about_titulo {
        @include font_styles(6rem,auto,200);
        line-height: 8rem;
        margin-top: 11rem;
        margin-left: 10rem;
        h1 {
            @include font_styles (1.5em,auto,bold);
        }
    }

    .about_img {
        width: 65%;
        height: 125vh;
        top: 16rem;
        right: 0;
    }

    #about_bio {
        top: 180vh;
        left: 20vw;
        width: 50%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 5vw;
        .grid_column2{
            margin-top: 35vh;
        }
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
    }

    .redes {
        h2 {
        @include font_styles (90px,auto,100);
        margin-left: 10rem;
        margin-top: 12rem;
        }
        div {
            margin-left: 10rem;
            margin-top: 70vh;
        }
        a {
            @include font_styles(70px,auto,200);
        }
    }

    .verne {
        header {
            height: 17vh;
        }
        main {
            grid-column: 1/3;
        }    
    }

    #verne_titulo {
        font-size: 3rem;
        margin: 3rem 0 0 3rem;
    }

    .verne_img {
        height: 75vh;
        right: 0;
        bottom: 8vh;
    }

    .verne_sect {
        display: grid;
        grid-template-columns: 50% 50%;
        p {
            margin-left: 3rem;
            line-height: 1.2;
            font-weight: 200;
            font-size: 12px;
        }
        article {
            grid-column: 1/2;
        }
        a {
            font-weight: 600;
            font-size: 1rem;
        }
    }

    #verne_links {
        margin-top: 2rem;
        margin-left: 3rem;
    }

    #verne_address {
        width: 90%;
        p {
            line-height: normal;
            font-weight: 200;
            margin: 1.3rem 0 0 0;
            font-size: 12px;
        }
        iframe {
            height: 50vh;
        }    
    }

    .cocteles {
        grid-template-columns: 100%;
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
        }
        .menu{
            a {
            color: map-get($colors, secondary);
            }
        }
        main {
            margin-top: 7vh;
        }
    }


    .cocteles_titulo {
        @include font_styles(6rem,auto,400);
        letter-spacing: 4rem;
        line-height: 9rem;
        margin-left: 2rem;
        overflow: hidden;
    }

    .content_centered {
        div { 
            i {
                font-size: 2rem;
            }
        }
        section {
            margin-top: 200px;
            article {
                margin-bottom: 150px;
            }
        }
        h2 {
            font-weight: 200;
            margin-bottom: 5px;
        }
        h3 {
            margin-bottom: 5px;
        }
    }

    .img_gallery {
        width: 60vh;
        height: 60vh;
        margin: 0 2% 0 2%;
    }

    #img_gallery_count {
        left: 20vw;
        margin-top: 2rem;
    }

    #cocteles_copy {
        font-size: 4rem;
        font-weight: 400;
        width: 30vw;
        left: 25vw;
        margin-top: 2rem;
    }

    #ingredients {
        font-size: 2rem;
        left: 50vw;
        margin-top: 10rem;
        padding-bottom: 2rem;
    }

    footer {
        height: 5vh;
        padding-top: 3vh;
        grid-column: 1/3;
        font-size: 14px;
    }

    i {
        margin: 0 0.5% 0 1%;
    }

    .librosycursos {
        grid-template-columns: 100%;
        .menu{
            a {
            color: map-get($colors, secondary);
            }
        }
        .content_centered{
            section{
                article{
                    margin-bottom: 50px;
                }
            }
        }
    }

    #libro_img {
        height: 60vh;
        width: 560px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: whitesmoke;
    }

    #curso_img {
        height: 60vh;
        width: 560px;
    }

}